.wrapper {
  padding: 10px 0 40px 0;
}

.mainTitle {
  padding-left: 20px;
  padding-bottom: 15px;
  margin: 16px 50px 15px;
  font-size: 22px;
  font-weight: 400;
  color: #494949;
  cursor: default;
  letter-spacing: 1px;
  border-bottom: 1px solid #DCDCDC;
}

.projectsContainer {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}
