.wrapper {
  margin: 90px 40px 0;
  padding-left: 20px;
  display: flex;
  align-items: flex-start;
}

.imageWrapper {
  img {
    width: 200px;
    height: 200px;
    border: 1px solid #DCDCDC;
  }
}

.textWrapper {
  margin-left: 40px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  cursor: default;
  color: #494949;
  .firstName {
    font-size: 34px;
    font-weight: 100;
    line-height: 34px;
    margin-left: -1px;
  }
  .lastName {
    font-weight: 700;
  }
  .tag {
    margin-top: 7px;
    margin-bottom: 16px;
    font-size: 17px;
    font-weight: 400;
  }
  .description {
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0.5px;
    line-height: 22px;
    padding: 0 14px 7px 0;
    a {
      color: #368dc0;
      text-decoration: none;
      &:hover {
        color: #368dc0;
        text-decoration: none;
      }
      &:visited {
        color: #368dc0;
        text-decoration: none;
      }
      &:active {
        color: #368dc0;
        text-decoration: none;
      }
    }
  }
}

.tagContainer {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16px;
  .skillTag {
    background: #368dc0;
    color: #FFFFFF;
    padding: 2px 12px;
    font-size: 12px;
    font-weight: 100;
    margin: 0 10px 10px 0;
  }
}
