.topBarWrapper {
  background: #FFF;
  height: 50px;
  width: 100%;
  max-width: 1100px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  .topBarActual {
    height: 50px;
    width: 100%;
    margin: 0 40px;
    border-bottom: 1px solid #EBEBEB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.left {
  font-size: 14px;
}

.separator {
  margin-left: 20px;
  color: #EBEBEB;
  font-weight: 100;
  cursor: default;
}

.iconContainer {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 10px;
  :global(.fa) {
    color: #494949;
    margin-left: 22px;
    font-size: 16px;
    cursor: pointer;
  }
  :global(.fa-envelope-o) {
    color: #2F82B8;
  }
  :global(.fa-home) {
    color: #2F82B8;
    font-size: 20px;
  }
}